@charset "ISO-8859-1";
body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.home-headline {
	font-family: 'Times New Roman', Timees, serif;
	font-size: 24px;
	color: #fff;
	margin: auto;
	text-align: center;
	margin-top: -13px;
}

.home-headline span {
	background-color: #231F20;
	padding: 5px 22px;
}